<section id="<%= app.permalink %>" class="shortcuts">
	<header>
		<h2><%= app.name %></h2>
		<p class="description"><%= app.description %></p>
		<p class="link">
			<a href="/<%= app.permalink %>">Link to this app</a>
		</p>
	</header>

	<table>
		<thead>
			<tr>
				<th>Shortcut</th>
				<th>Description</th>
			</tr>
		</thead>

		<tbody>
			<% for shortcut in app.shortcuts.sorted.all %>
				<tr>
					<td class="shortcut">
						<%= shortcut.to_html %>
					</td>
					<td class="description"><%= shortcut.description %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</section>
